<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recoil Settings</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='globals.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark custom-navbar">
        <div class="container-fluid">
            <p class="custom-navbar-title mb-0"><a href="{{ url_for('index') }}">Llama</a></p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mt-2 mt-lg-0" id="navbarNav">  
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="{{ url_for('index') }}"></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="alert alert-custom alert-dismissible">
            <strong>👋 Hey!</strong> Please consider joining our <a href="#" class="alert-link">Discord Server</a> to watch out for giveaways & updates!
        </div>
    </div>
    
    <section>
        <div class="container">
            <div class="row g-2">
                <div class="col">
                    <div class="card h-100 custom-info-card w-100 text-white">
                        <div class="card-body">
                            <h5 class="card-title">Recoil Control</h5>
                            <p class="card-text">Configure your recoil settings.</p>
                            <hr>
                            
                            <div class="form-check mb-2">
                                <input class="form-check-input custom-input" type="checkbox" value="" id="checkDefault" {% if enabled %}checked{% endif %}>
                                <label class="form-check-label" for="checkDefault">Enable Recoil</label>
                            </div>

                            <label for="recoil_mode" class="card-text">Recoil Mode</label>
                            <select class="form-select custom-input mb-2" id="recoil_mode" name="recoil_mode">
                                <option value="Simple" {% if mode == "Simple" %}selected{% endif %}>Simple</option>
                                <option value="Advanced" {% if mode == "Advanced" %}selected{% endif %}>Advanced</option>
                            </select>

                            <label for="delay" class="card-text">Delay (Seconds)</label>
                            <input type="text" class="form-control custom-input" id="delay" placeholder="Delay" value="{{ delay }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="simpleSection">
        <div class="container mt-3">
            <div class="row g-2">
                <div class="col">
                    <div class="card h-100 custom-info-card w-100 text-white">
                        <div class="card-body">
                            <h5 class="card-title">Simple Recoil</h5>
                            <p class="card-text">Set static X and Y recoil values.</p>
                            <hr>
                            
                            <label for="x_cont_val" class="card-text">X Control</label>
                            <input type="text" class="form-control custom-input mb-2" id="x_cont_val" placeholder="X Control (4)" value="{{ x }}">
                            
                            <label for="y_cont_val" class="card-text">Y Control</label>
                            <input type="text" class="form-control custom-input mb-3" id="y_cont_val" placeholder="Y Control (3)" value="{{ y }}">
                            
                            <button class="btn btn-success w-100" id="applySimple">Apply Simple Settings</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="advancedSection">
        <div class="container mt-3">
            <div class="row g-2">
                <div class="col">
                    <div class="card h-100 custom-info-card w-100 text-white">
                        <div class="card-body">
                            <h5 class="card-title">Advanced Recoil Pattern</h5>
                            <p class="card-text">Create a custom recoil pattern that cycles through steps.</p>
                            <hr>

                            <div class="container pattern-container">
                                <label class="form-label card-text" >Pattern Steps:</label>
                                <div id="patternList" class="mb-2">
                                    <!-- The pattern steps are dynamically added here -->
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control custom-input" id="newX" placeholder="X" aria-label="X Control">
                                    <input type="text" class="form-control custom-input" id="newY" placeholder="Y" aria-label="Y Control">
                                    <button class="btn btn-success" id="addPattern" type="button">Add</button>
                                </div>
                            </div>

                            <div class="input-group mb-2 mt-2">
                                <input type="text" id="patternName" class="form-control custom-input" placeholder="Pattern Name">
                                <button class="btn btn-success" id="savePattern">Save Pattern</button>
                                <button class="btn btn-success" id="loadPattern">Load Pattern</button>
                            </div>
                            <button class="btn btn-success w-100" id="applyAdvanced">Apply Advanced Settings</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>